.card_container {
  width: 342px;
  height: 134px;
  border-radius: 32px;
  opacity: 1;
  top: 595px;
  left: 25px;
  background: #d6e6da;
}

.card_image {
  /* width: 34%;
  height: auto;
  border-radius: 10px;
  overflow: hidden; */
  width: 121.5px;
  height: 134px;
  border-radius: 32px;
  opacity: 1;
  top: 595px;
  left: 25px;
}

.image {
  /* width: 100%;
  height: 100%;
  object-fit: cover; */
  width: 121.5px;
  height: 134px;
  border-radius: 32px;
  opacity: 1;
  top: 595px;
  left: 25px;  
}
