.tela {
    height: 852px;
    width: 393px;
    background-image: url("https://images.unsplash.com/photo-1521292270410-a8c4d716d518?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YWxwZXMlMjBzdSVDMyVBRCVDMyVBN29zfGVufDB8fDB8fHww");
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.container {
    height: 100%;
    width: 100%;
    margin-top: 55px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

.button_back {
    height: 45px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: hsla(0, 0%, 43%, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_back a {
    text-decoration: none;
    color: white;
    padding: 0;
}

.section_filters {
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

.button_filters {
    height: 50px;
    width: 100px; 
    border-radius: 15px;
    background-color: hsla(0, 0%, 43%, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 5px;
}

.section_cards {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}