.carrocelSlideContainer{
    margin-top: 6px;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.carrocelSlideContainer .carrocelSlideContainer-content{
    background: #D6E6DA;
    padding: 6.5px 9px;
    border-radius: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 13.92px; 
}
.carrocelSlideContainer .carrocelSlideContainer-content-botoesAncora{
text-decoration: none; height: auto; align-content: center;
}
.carrocelSlideContainer .carrocelSlideContainer-content-botoesAncora-corpo{
 background-color: #FFFF; aspect-ratio: 1; height: 9.33px; border-radius: 100% 
}
.carrocelSlideContainer .carrocelSlideContainer-content-botoesAncora-corpo-ativo{
 background-color: #001804; aspect-ratio: 1; height: 9.33px; border-radius: 100% 
}